*.pl linguist-language=Perl
*.pm linguist-language=Perl
*.t linguist-language=Perl
*.jpg binary
*.png binary
*.svg binary
*.ico binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.zip binary
*.tar.gz binary
