html {
  height:100%;
}

.scont {
  margin:0 auto;
  width:100%;
  padding-left:20px;
  padding-right:20px;
}

.footer-copyright a {
  color:inherit;
}

nav .brand-logo {
  white-space:nowrap;
}

.vcenter {
  vertical-align:middle !important;
}

.narrow-log td {
  padding: 5px 5px;
}

.spaceleft {
  margin-left:15px;
}

pre.about-hist {
  height:415px;
  overflow-y:scroll;
  overflow-x:auto;
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap;
  word-wrap:break-word;
  border:1px solid #d0d0d0;
  padding-left:10px;
  padding-right:10px;
  font-size:0.85em;
}

pre.newversion-hist {
  overflow-x:auto;
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap;
  word-wrap:break-word;
  font-size:0.85em;
}

.no-margin-bottom {
  margin-bottom:0;
}

.margin-top {
  margin-top:20px;
}

.listagenttype {
  color:#0;
  background-color:#e0e0e0;
  padding:4px;
  border-radius:4px;
}

.listclienttype, .listprofiletype {
  color:#fff;
  font-size:.8rem!important;
  background-color:#444444;
  padding:4px;
}

.listservertype {
  color:#fff;
  font-size:.8rem!important;
  background-color:#c2185b;
  padding:4px;
}

.listdevicerow, .listagentrow {
  padding:0 0 0 18px;
}

.tr-client, .tr-devices, .tr-device, .tr-device-head, .tr-head-status, .tr-head-database, .tr-status, .tr-agents, .tr-agentstat, .tr-agent, .tr-agent-head, .tr-profile {
  border-bottom:none;
}

tr.tr-client, tr.tr-device, tr.tr-status, tr.tr-agent, tr.tr-agentstat, tr.tr-profile {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.tr-client:hover, .tr-device:hover, .tr-device-edit:hover, .tr-profile:hover, .tr-agent:hover, .tr-agent-edit:hover {
  cursor:pointer;
  background-color: rgba(225,225,225,.5) !important;
}

tr.tr-client>td, tr.tr-status>td, tr.tr-profile>td {
  padding-top:20px;
  padding-bottom:10px;
}

tr.tr-client-head>th, tr.tr-device1-head>th {
  padding-top:5px;
  padding-bottom:10px;
}

tr.tr-status-head>th {
  padding-top:10px;
  padding-bottom:6px;
}

tr.tr-head-status>td {
  padding-top:10px;
  padding-bottom:6px;
}

tr.tr-head-database>td {
  padding-top:0px;
  padding-bottom:5px;
}

tr.tr-device-head>th, tr.tr-agent-head>th {
  padding:5px;
  border:1px solid #adadad;
}

tr.tr-device>td, tr.tr-agent>td, tr.tr-agentstat>td {
  padding:5px;
  border:1px solid #e3e3e3;
}

.toc-wrapper {
  top:0px;
  position:fixed;
  margin-top:110px;
}

.listlink {
  color:#000;
}

.tbl-device-stat td, .tbl-device-stat th {
  padding:2px 5px;
}

.row-leftbottom-no-margin {
  margin-left:0px;
  margin-bottom:0px;
}

.icon-col {
  width:4rem;
  margin-right:12px;
}

.icon-col i.medium {
  font-size: 4rem;
}

.body-small-padding {
  padding: 1rem;
}

.head-text {
  font-size:16px;
}

.main-search-row {
  margin-top:7px;
  margin-bottom:0px;
}

a.sortlink {
  color: #000000de;
  text-decoration: underline;
}

.tr-client.lostclient {
  text-decoration: line-through;
  background-color:#d4e3ed;
}
.tr-devices.lostclient {
  color: #9b9b9b;
}

.tr-device.blocked, .tr-device-edit.blocked {
  background-color:#fff7f0;
}

.list-warning-panel {
  padding-top:10px;
  padding-bottom:10px;
  margin-top:0px;
  margin-bottom:0px;
  background-color:#fff;
}

.material-tooltip {
  white-space: pre-wrap;
  text-align: left;
}

.speed-img {
  width:16px;
  height:16px;
  object-fit:none;
  object-position:center;
}
