html {
  height:100%;
}

.scont {
  margin:0 auto;
  width:100%;
  padding-left:20px;
  padding-right:20px;
}

.footer-copyright a {
  color:inherit;
}

nav .brand-logo {
  white-space:nowrap;
}

.vcenter {
  vertical-align:middle !important;
}

.narrow-log td {
  padding: 5px 5px;
}

.spaceleft {
  padding-left:15px;
}

pre.about-hist {
  height:415px;
  overflow-y:scroll;
  overflow-x:auto;
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap;
  word-wrap:break-word;
  border:1px solid #d0d0d0;
  padding-left:10px;
  padding-right:10px;
  font-size:0.85em;
}

pre.newversion-hist {
  overflow-x:auto;
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-pre-wrap;
  white-space:-o-pre-wrap;
  word-wrap:break-word;
  font-size:0.85em;
}
